.notification-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.notification {
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100%);
    opacity: 0;
}

.notification.insert-error {
    background-color: #a62929;
}

.notification.duplicate {
    background-color: #e55314;
}

.notification.success {
    background-color: #4caf50;
}

.notification.hidden {
    top: -100px;
}

.notification.visible {
    transform: translateX(0);
    opacity: 1;
}
