<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Grade to Student</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <script src="/js/notification.js"></script>
    <script src="/js/go-back.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <button class="redirect-icon go-up"
                onclick="window.location.href='http://localhost:9000/view/grades-entry-point'"
                title="Go to grades">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </button>
        <span class="title">Search for a student</span>
        <button class="redirect-icon previous-page-icon"
                onclick="goBack()"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>
    <div class="container">
        <form th:action="@{/view/find}" method="GET" id="filterForm" onsubmit="return submitForm()">
            <div class="form-group">
                <label for="studentId">ID:</label>
                <input type="text" id="studentId" name="id" th:value="${id}" placeholder="Enter Student ID"
                       oninput="debounceSubmit()">
            </div>
            <div class="form-group">
                <label for="studentName">Name:</label>
                <input type="text" id="studentName" name="name" th:value="${name}" placeholder="Enter Student Name"
                       oninput="debounceSubmit()">
            </div>
            <div class="form-group">
                <label for="studentSurname">Surname:</label>
                <input type="text" id="studentSurname" name="surname" th:value="${surname}"
                       placeholder="Enter Student Surname" oninput="debounceSubmit()">
            </div>
            <div class="form-group">
                <label for="studentIdentifier">Identifier:</label>
                <input type="text" id="studentIdentifier" name="identifier" th:value="${identifier}"
                       placeholder="Enter Student Identifier" oninput="debounceSubmit()">
            </div>
            <div class="submit-form-buttons">
                <button class="filter-button" type="submit" title="Look for student">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button class="clear-filters-button" onclick="clearFilters()" title="Look for student">
                    <i class="fa-solid fa-filter-circle-xmark"></i>
                </button>
            </div>
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Identifier</th>
            <th>Birth Date</th>
            <th>Add Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentsFound}" th:data="${student.id}"
            onclick="redirectToDetails(this.getAttribute('data'))"
            style="cursor: pointer;">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.identifier}"></td>
            <td th:text="${student.birthDate}"></td>
            <td>
                <button class="student-folder-button" th:data="${student.id}"
                        onclick="redirectToDetails(this.getAttribute('data'));"
                        title="Go to student folder">
                    <i class="fa-regular fa-folder-open"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    let debounceTimer;

    function debounceSubmit() {
        clearTimeout(debounceTimer);

        debounceTimer = setTimeout(() => {
            submitForm();
        }, 2000);
    }

    function submitForm() {
        document.getElementById('filterForm').submit();
    }

    function redirectToDetails(studentId) {
        window.location.href = `/view/student-details?id=` + studentId;
    }

    function clearFilters() {
        const filterForm = document.getElementById('filterForm');
        const inputs = filterForm.querySelectorAll('input');
        inputs.forEach(input => input.value = '');
        submitForm()
    }
</script>
</html>
