<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add students</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/popup-form.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <script src="/js/notification.js"></script>
    <script src="/js/go-back.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <button class="redirect-icon go-up"
                onclick="window.location.href='http://localhost:9000/view/student-entry-point'"
                title="Go to students">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </button>
        <span class="title">Insert Students</span>
        <button class="redirect-icon show-students"
                onclick="window.location.href='http://localhost:9000/view/students'"
                title="Show students">
            <i class="fa-solid fa-user-check"></i>
        </button>
        <button class="redirect-icon previous-page-icon"
                onclick="goBack()"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>

    <h1 class="header">
        <div></div>
        <button id="submitButton" class="green-button" onclick="redirectToSubmitForm()" type="button">+ Single Student
        </button>
        <div class="drop-area-raw" id="drop-area">
            Drag & drop a .txt file here or <a href="#" id="file-link">select a file</a>
            <input type="file" id="file-input" accept=".txt">
        </div>
    </h1>

    <div id="popupContainer" style="display: none;">
        <form id="editForm">
            <div class="form-group">
                <label>New student form</label>
                <span>Details</span>
            </div>
            <div class="form-group">
                <label for="studentName">Name:</label>
                <input type="text" id="studentName" name="studentName" required>
            </div>
            <div class="form-group">
                <label for="studentSurname">Surname:</label>
                <input type="text" id="studentSurname" name="studentSurname" required>
            </div>
            <div class="form-group">
                <label for="studentIdentifier">Identifier:</label>
                <input type="text" id="studentIdentifier" name="studentIdentifier" required>
            </div>
            <div class="form-group">
                <label for="studentBirthDate">Birth Date:</label>
                <input type="date" id="studentBirthDate" name="studentBirthDate" pattern="\d{4}-\d{2}-\d{2}"
                       required>
            </div>
            <div class="submit-form-buttons">
                <button id="submitNewStudentButton" class="submit-button" onclick="sendSubmittedStudent()"
                        type="button">Submit
                </button>
                <button type="button" class="cancel-submit-button" onclick="closeSubmitPopup()">Cancel</button>
            </div>
        </form>
    </div>

    <div id="seedConfirmationContainer" style="display: none;">
        <form id="seedConfirmationForm">
            <div class="form-group">
                <span>Seed random grades among students?</span>
            </div>
            <div class="submit-form-buttons">
                <button class="submit-button"
                        type="button"
                        onclick="seedGrades()">Yes
                </button>
                <button class="cancel-submit-button"
                        type="button"
                        onclick="closeSeedConfirmationContainer()">Cancel
                </button>
            </div>
        </form>
    </div>
</div>
<div id="loadingSpinner" style="display: none;">
    <i class="fa fa-spinner fa-spin"></i> Uploading...
</div>
<div hidden id="seedPossible" th:data="${seedPossible}"></div>
<div class="notification-container" id="notification-container"></div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropArea = document.getElementById('drop-area');
        const fileInput = document.getElementById('file-input');
        const fileLink = document.getElementById('file-link');

        dropArea.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropArea.classList.add('hover');
        });

        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('hover');
        });

        dropArea.addEventListener('drop', (e) => {
            e.preventDefault();
            dropArea.classList.remove('hover');

            const file = e.dataTransfer.files[0];
            if (file && file.type === "text/plain") {
                uploadFile(file);
            } else {
                alert("Please drop a .txt file.");
            }
        });

        fileLink.addEventListener('click', () => fileInput.click());

        fileInput.addEventListener('change', () => {
            const file = fileInput.files[0];
            if (file && file.type === "text/plain") {
                uploadFile(file);
            } else {
                alert("Please select a .txt file.");
            }
        });

        function uploadFile(file) {
            const formData = new FormData();
            formData.append('file', file);

            const spinner = document.getElementById('loadingSpinner');
            spinner.style.display = 'block';

            fetch('/input/students-from-file', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log('File uploaded successfully:', data);
                    const seed = document.getElementById('seedPossible').getAttribute('data')
                    console.log('Should seed?', seed);
                    if (seed === true || seed === 'true') {
                        openSeedConfirmationContainer()
                    }

                })
                .catch(error => {
                    console.error('Error uploading file:', error);
                    alert('Failed to upload file.');
                })
                .finally(() => {
                    spinner.style.display = 'none';

                });
        }
    });

    const socket = new SockJS('http://localhost:9000/websocket-endpoint');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/topic/student-duplicate-detected', function (message) {
            console.log("Received message: " + message.body)
            studentUponInsertNotificationNotification(message.body, 'duplicate')
        });

        stompClient.subscribe('/topic/student-insert-error-detected', function (message) {
            console.log("Received message: " + message.body)
            studentUponInsertNotificationNotification(message.body, 'insert-error')
        });

        stompClient.subscribe('/topic/file-upload-status', function (message) {
            console.log("Received message: " + message.body)
            fileUploadNotification(message.body, 'file-upload')
        });

        stompClient.subscribe('/topic/seeding-grade', function (message) {
            console.log("Received message: " + message.body)
            seedingGradesNotification(message.body, 'seeding-grades')
        });

        stompClient.subscribe('/topic/student-added', function (message) {
            console.log("Received message: " + message.body)
            studentAddedNotification(message.body, 'student-added')
        });

        stompClient.subscribe('/topic/seeding-progress', function (message) {
            console.log("Received message: " + message.body)
            seedingProgressNotification(message.body)
        });
    });

    function redirectToSubmitForm() {
        document.getElementById("popupContainer").style.display = "block";
    }

    function openSeedConfirmationContainer() {
        document.getElementById("seedConfirmationContainer").style.display = "block";
    }

    function closeSeedConfirmationContainer() {
        document.getElementById("seedConfirmationContainer").style.display = "none";
    }


    function seedGrades() {
        const spinner = document.getElementById('loadingSpinner');
            spinner.style.display = 'block';
            spinner.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Seeding grades...`;

        fetch('/seed/grades', {
            method: 'POST',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            })
            .finally(() => {
                    spinner.style.display = 'none';
                    closeSeedConfirmationContainer()
                    refreshPage()
                });




    }

    function refreshPage() {
        setTimeout(() => location.reload(), 20000)
    }


    function closeSubmitPopup() {
        document.getElementById("popupContainer").style.display = "none";
    }

    function sendSubmittedStudent() {
        const studentName = document.getElementById("studentName").value;
        const studentSurname = document.getElementById("studentSurname").value;
        const studentIdentifier = document.getElementById("studentIdentifier").value;
        const studentBirthDate = document.getElementById("studentBirthDate").value;

        if (!studentName || !studentSurname || !studentIdentifier || !studentBirthDate) {
            alert("Please fill in all fields before submitting.");
            return;
        }

        const newStudentData = {
            name: studentName,
            surname: studentSurname,
            identifier: studentIdentifier,
            birthDate: studentBirthDate,
            code: "",
            assigned: false
        };

        console.log("New student data")
        console.log(newStudentData)

        fetch('/student/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(newStudentData),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        closeSubmitPopup()
    }
</script>
</body>
</html>