<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes with Students</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <script src="/js/notification.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<!--    TODO: also student details from just class view-->
<div class="container">
    <h1 class="header">
        <span class="title">Classes</span>
        <button class="redirect-icon previous-page-icon" onclick="window.location.href='http://localhost:9000/view'"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>
    <table>
        <thead>
        <tr>
            <th>Class Name</th>
            <th>Number of Students</th>
            <th>Name Surname [Identifier]</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="classDTO : ${classes}">
            <td th:text="${classDTO.className}"></td>
            <td th:text="${classDTO.numberOfStudents}"></td>
            <td>
                <ul>
                    <li th:each="student : ${classDTO.students}" class="student-item">
                        <span th:text="${student}"></span>
                        <button title="Go to student folder" class="student-folder-button" th:if="${show}"
                                th:data="${student}"
                                onclick="redirectToDetails(this.getAttribute('data'))">
                            <i class="fa-regular fa-folder-open"></i>
                        </button>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    function redirectToDetails(studentString) {
        window.location.href = `/view/student-details?id=` + studentString.at(0);
    }
</script>
</html>
