<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <script src="/js/notification.js"></script>
    <script src="/js/go-back.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <button class="red-remove-button" id="submitButton" disabled
                onclick="removeSelectedStudents(); updateButtonState()">
            Remove selected
        </button>
        <button class="redirect-icon go-up"
                onclick="window.location.href='http://localhost:9000/school/student-entry-point'"
                title="Go to students">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </button>
        <span class="title">Duplicated Students</span>
        <button class="redirect-icon previous-page-icon"
                onclick="goBack()"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>

    <table>
        <thead>
        <tr>
            <th>
                <label for="selectAll"></label>
                <input type="checkbox" class="label-checkbox" id="selectAll" onclick="toggleSelectAll(this)">
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Identifier</th>
            <th>Birth Date</th>
            <th>Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${duplicates}">
            <td>
                <label>
                    <input type="checkbox" class="student-checkbox" onclick="updateButtonState()"
                           th:value="${student.id}">
                </label>
            </td>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.identifier}"></td>
            <td th:text="${student.birthDate}"></td>
            <td th:text="${student.code}"></td>
            <td>
                <button class="red-button" th:data="${student.id}" onclick=removeStudent(this)>
                    <i class="fas fa-trash"></i>
                </button>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="notification-container" id="notification-container"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    const socket = new SockJS('http://localhost:9000/websocket-endpoint');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/topic/duplicate-removal', function (message) {
            console.log("Received message: " + message.body)
            studentDuplicateNotification(message.body, "student-delete")
        });
    });

    function removeStudent(button) {
        let studentId = button.getAttribute('data')
        console.log("ID of student to be removed: " + studentId)
        if (confirm('Are you sure you want to remove this student?')) {
            fetch('/api/duplicated/delete/' + studentId, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    console.log('Student removed successfully')
                } else {
                    console.log('Failed to remove the student');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred');
            });
        }
        refreshPage()
    }

    function removeSelectedStudents() {
        console.log("Removing selected students")
        const selectedCheckboxes = document.querySelectorAll('.student-checkbox:checked');
        const studentIds = Array.from(selectedCheckboxes).map(checkbox => checkbox.value);

        if (studentIds.length === 0) {
            alert('No students selected!');
            return;
        }

        console.log('Selected Student IDs:', studentIds);

        fetch('/api/duplicated/delete-selected', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(studentIds)
        }).then(response => {
            if (response.ok) {
                console.log("Selected students removed successfully")
            } else {
                console.log("Failed to remove selected students");
            }
        }).catch(error => {
            console.error('Error:', error);
            alert('An error occurred');
        });
        refreshPage()
    }

    function toggleSelectAll(selectAllCheckbox) {
        const checkboxes = document.querySelectorAll('.student-checkbox');
        checkboxes.forEach(checkbox => checkbox.checked = selectAllCheckbox.checked);
        updateButtonState()
    }

    function updateButtonState() {
        console.log("Update button state function")
        const checkboxes = document.querySelectorAll('.student-checkbox');
        const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        const selectAllChecked = document.getElementById("selectAll").checked
        const button = document.getElementById('submitButton');

        button.disabled = !anyChecked && !selectAllChecked
    }

    function refreshPage() {
        setTimeout(() => location.reload(), 6000)
    }
</script>
</body>
</html>
