<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <script src="/js/notification.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <button class="red-remove-button" id="submitButton" disabled
                onclick="removeSelectedStudents(); updateButtonState()">
            Remove selected
        </button>
        <span class="title">Duplicated Students</span>
        <button class="redirect-icon previous-page-icon" onclick="window.location.href='http://localhost:9000/view/student-entry-point'" title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>

    <table>
        <thead>
        <tr>
            <th>
                <label for="selectAll"></label>
                <input type="checkbox" class="label-checkbox" id="selectAll" onclick="toggleSelectAll(this)">
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Identifier</th>
            <th>Birth Date</th>
            <th>Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${duplicates}">
            <td>
                <label>
                    <input type="checkbox" class="student-checkbox" onclick="updateButtonState()"
                           th:value="${student.id}">
                </label>
            </td>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.identifier}"></td>
            <td th:text="${student.birthDate}"></td>
            <td th:text="${student.code}"></td>
            <td>
                <button class="red-button" th:data="${student.id}" onclick=removeStudent(this)>
                    <i class="fas fa-trash"></i>
                </button>

            </td>
        </tr>
        </tbody>
    </table>
    <script>
        function removeStudent(button) {
            let studentId = button.getAttribute('data')
            console.log("ID of student to be removed: " + studentId)
            if (confirm('Are you sure you want to remove this student?')) {
                fetch('/duplicated/delete-selected' + studentId, {
                    method: 'DELETE'
                }).then(response => {
                    if (response.ok) {
                        alert('Student removed successfully');
                    } else {
                        alert('Failed to remove the student');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred');
                });
            }
        }

        function toggleSelectAll(selectAllCheckbox) {
            const checkboxes = document.querySelectorAll('.student-checkbox');
            checkboxes.forEach(checkbox => checkbox.checked = selectAllCheckbox.checked);
            updateButtonState()
        }

        function removeSelectedStudents() {
            console.log("Removing selected students")
            const selectedCheckboxes = document.querySelectorAll('.student-checkbox:checked');
            const studentIds = Array.from(selectedCheckboxes).map(checkbox => checkbox.value);

            if (studentIds.length === 0) {
                alert('No students selected!');
                return;
            }

            console.log('Selected Student IDs:', studentIds);

            fetch('/duplicated/delete-selected', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(studentIds)
            }).then(response => {
                if (response.ok) {
                    alert('Selected students removed successfully');
                    location.reload();
                } else {
                    alert('Failed to remove selected students');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred');
            });
        }

        function updateButtonState() {
            console.log("Update button state function")
            const checkboxes = document.querySelectorAll('.student-checkbox');
            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            const selectAllChecked = document.getElementById("selectAll").checked
            const button = document.getElementById('submitButton');

            button.disabled = !anyChecked && !selectAllChecked
        }
    </script>
</div>
</body>
</html>
