<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Dashboard</h1>

    <div class="button-container">
        <button onclick="window.location.href='http://localhost:9000/view/students'">Students</button>
        <button onclick="window.location.href='http://localhost:9000/view/classes'">Classes</button>
        <button onclick="window.location.href='http://localhost:9000/view/subject-grades'">Subject Grades</button>
    </div>
</div>
</body>
</html>
