<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/popup-form.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <script src="/js/notification.js"></script>
    <script src="/js/go-back.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <button class="redirect-icon go-up"
                onclick="window.location.href='http://localhost:9000/school/student-entry-point'"
                title="Go to students">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </button>
        <span class="title">
           Corrupted records
        </span>
        <button class="redirect-icon previous-page-icon"
                onclick="goBack()"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>
    <div id="popupContainer" style="display: none;">
        <form id="editForm">
            <div class="form-group">
                <label>Correct form</label>
                <span id="currentId"></span>
            </div>
            <div class="form-group">
                <label for="studentName">Name:</label>
                <input type="text" id="studentName" name="studentName" required>
            </div>
            <div class="form-group">
                <label for="studentSurname">Surname:</label>
                <input type="text" id="studentSurname" name="studentSurname" required>
            </div>
            <div class="form-group">
                <label for="studentIdentifier">Identifier:</label>
                <input type="text" id="studentIdentifier" name="studentIdentifier" required>
            </div>
            <div class="form-group">
                <label for="studentBirthDate">Birth Date:</label>
                <input type="date" id="studentBirthDate" name="studentBirthDate" required>
            </div>
            <div class="submit-form-buttons">
                <button id="submitButton" class="submit-button" onclick="sendCorrectedStudent()" type="button">Submit
                </button>
                <button type="button" class="cancel-submit-button" onclick="closeCorrectionPopup()">Cancel</button>
            </div>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Identifier</th>
            <th>Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="error : ${insertErrors}">
            <td th:text="${error.id}"></td>
            <td th:text="${error.identifier}"></td>
            <td th:text="${error.code}"></td>
            <td>
                <div class="button-container">
                    <button class="green-correct-button"
                            th:data-1="${error.identifier}"
                            th:data-2="${error.id}"
                            onclick=redirectToCorrectionForm(this)>
                        <i class="fa-solid fa-hammer"></i>
                    </button>
                    <button class="red-button" th:data="${error.id}"
                            onclick=removeStudent(this)>
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="notification" class="notification hidden">Sliding notification</div>
<script>
    src="notification.js"
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<div class="notification-container" id="notification-container"></div>
<script>
    const socket = new SockJS('http://localhost:9000/websocket-endpoint');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/topic/insert-error-correction', function (message) {
            console.log("Received message: " + message.body)
            studentInsertErrorNotification(message.body, "student-update")
        });

        stompClient.subscribe('/topic/insert-error-removal', function (message) {
            console.log("Received message: " + message.body)
            studentInsertErrorNotification(message.body, "student-delete")
        });
    });


    function redirectToCorrectionForm(button) {
        document.getElementById("currentId").textContent = button.getAttribute('data-1');
        document.getElementById("popupContainer").style.display = "block";
    }

    function closeCorrectionPopup() {
        document.getElementById("popupContainer").style.display = "none";
    }

    function sendCorrectedStudent() {
        const currentId = document.getElementById("currentId").textContent
        const studentName = document.getElementById("studentName").value;
        const studentSurname = document.getElementById("studentSurname").value;
        const studentIdentifier = document.getElementById("studentIdentifier").value;
        const studentBirthDate = document.getElementById("studentBirthDate").value;

        if (!studentName || !studentSurname || !studentIdentifier || !studentBirthDate) {
            alert("Please fill in all fields before submitting.");
            return;
        }

        const correctionData = {
            name: studentName,
            surname: studentSurname,
            identifier: studentIdentifier,
            birthDate: studentBirthDate,
            code: currentId,
        };

        console.log("Correction data")
        console.log(correctionData)

        fetch('/api/insert-error/correct', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(correctionData),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to add student');
            });
        closeCorrectionPopup()
        refreshPage()
    }

    function removeStudent(button) {
        let studentId = button.getAttribute('data')
        console.log("ID of student to be removed: " + studentId)
        if (confirm('Are you sure you want to remove this student?')) {
            fetch('/api/insert-error/delete/' + button.innerText, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    console.log('Student removed successfully');
                } else {
                    console.log('Failed to remove the student');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred');
            });
        }
        refreshPage()
    }

    function refreshPage() {
        setTimeout(() => location.reload(), 5000)
    }
</script>
</html>
