<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <script src="/js/go-back.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1 class="header">
        <span>Bad argument exception!</span>
        <button class="redirect-icon previous-page-icon"
                onclick="goBack()"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>
    <h1 class="header">
        <span th:text="${message}"></span>
    </h1>
</div>
</body>

</html>
