<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <span class="title">Grade Insertion</span>
        <button class="redirect-icon previous-page-icon"
                onclick="window.location.href='http://localhost:9000/view/add-student-grade'"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>
    <table th:data="${student}">
        <thead>
        <tr class="green-student-row">
            <th>Name</th>
            <th>Surname</th>
            <th>Identifier</th>
            <th>Code</th>
            <th>Birth Date</th>
        </tr>
        <tr>
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.identifier}"></td>
            <td th:text="${student.code}"></td>
            <td th:text="${student.birthDate}" style="min-width: 125px; white-space: nowrap;"></td>
        </tr>
        </thead>
    </table>
    <table>
        <thead>
        <tr>
            <th>Subject id</th>
            <th>Subject</th>
            <th>Grades</th>
            <th>Average Grade</th>
            <th>Add Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjectsGrades}">
            <td th:text="${subject.getSubjectId()}"></td>
            <td th:text="${subject.getSubject()}"></td>
            <td th:text="${subject.getGrades()}"></td>
            <td th:text="${subject.getAverageGrade()}"></td>
            <td>
                <button id="openingButton" class="green-correct-button"
                        th:data-1="${subject.getSubjectId()}"
                        th:data-2="${subject.getSubject()}"
                        th:data-3="${student.id}"
                        onclick=openAddGradePopup(this)
                        title="Add grade to this student">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="popupContainer" style="display: none;">
        <form id="sendGradeForm">
            <h3 id="subjectName">Insert grade to </h3>
            <label for="gradePicker"></label>
            <select id="gradePicker" name="gradePicker" class="form-control" required>
                <option value="" disabled selected>Pick grade</option>
                <option th:each="grade : ${grades}"
                        th:value="${grade}"
                        th:text="${grade}">
                </option>
            </select>
            <div>
                <button id="submitButton" class="add-things-button-light-green" onclick="prepareGradeToBeSent()" type="button">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button class="red-button" type="button" onclick="closeGradePopup()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div id="notification" class="notification hidden">Sliding notification</div>
</body>
<script>
    function openAddGradePopup(button) {
        console.log("Opening popup")
        const subjectId = button.getAttribute('data-1');
        const subjectName = button.getAttribute('data-2');
        const studentId = button.getAttribute('data-3');
        console.log("===== Clicked button with subject id: " + subjectId)
        console.log("studentId " + studentId)
        let currentText = document.getElementById("subjectName").textContent
        document.getElementById("subjectName").textContent = currentText + subjectName + "_" + subjectId
        document.getElementById("popupContainer").style.display = "block";
    }

    function closeGradePopup() {
        document.getElementById("subjectName").textContent = "Insert grade to "
        document.getElementById("popupContainer").style.display = "none";
    }

    function prepareGradeToBeSent() {
        let button = document.getElementById("openingButton")
        const studentId = button.getAttribute('data-3');
        const [_, properSubjectId] = document.getElementById("subjectName").textContent.split("_")
        const selectedGrade = document.getElementById("gradePicker").value


        const grade = {
            value: selectedGrade,
            studentId: studentId,
            subjectId: properSubjectId,
        };

        send(grade);
    }

    function send(grade) {
        console.log("Sending object:");
        console.log(grade);

        fetch('/grade/add-grade', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(grade),
        })
            .then(response => {
                if (response.ok) {
                    return response
                } else {
                    throw new Error('Network response was not ok');
                }

            })
            .then(data => {
                console.log('Success:', data);
                successNotification("Grade successfully added")
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to add grade');
            });
        closeGradePopup()
        refreshPage()
    }

    function refreshPage() {
        setTimeout(() => location.reload(), 5000)
    }

    function successNotification(message) {
        const notification = document.getElementById("notification");

        notification.textContent = message;

        notification.classList.remove("hidden");
        notification.classList.add("visible");

        setTimeout(() => {
            notification.classList.remove("visible");
            notification.classList.add("hidden");
        }, 2500);
    }
</script>
</html>
