<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <link rel="stylesheet" type="text/css" href="/css/popup-form.css">
    <script src="/js/notification.js"></script>
    <script src="/js/go-back.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <button class="redirect-icon go-up"
                onclick="window.location.href='http://localhost:9000/school/student-entry-point'"
                title="Go to students">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </button>
        <span class="title">Students</span>
        <button class="redirect-icon add-student"
                onclick="window.location.href='http://localhost:9000/school/add-students'"
                title="Add students">
            <i class="fa-solid fa-plus"></i>
        </button>
        <button class="redirect-icon previous-page-icon"
                onclick="importStudentsListFile()"
                title="Import students list file">
            <i class="fa-regular fa-address-book"></i>
        </button>
        <button class="redirect-icon previous-page-icon"
                onclick="goBack()"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Identifier</th>
            <th>Birth Date</th>
            <th style="max-width: 75px">Assigned</th>
            <th>Action</th>
        </tr>
        </thead>

        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.identifier}"></td>
            <td th:text="${student.birthDate}" style="min-width: 115px"></td>
            <td style="max-width: 75px">
                <i class="fa-solid fa-check icon-green" th:if="${student.assigned}"></i>
                <i class="fa-solid fa-xmark icon-red" th:unless="${student.assigned}"></i>
            </td>
            <td>
                <div class="button-container">
                    <button class="student-folder-button" th:data="${student.id}"
                            onclick="redirectToDetails(this);"
                            title="Go to student folder">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                    <button class="blue-edit-button"
                            th:data="${student.id} + '_' + ${student.identifier}+ '_' + ${student.name}+ '_' + ${student.surname}+ '_' + ${student.birthDate}"
                            onclick=redirectToEditForm(this)>
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="red-button" th:data="${student.id}"
                            onclick=removeStudent(this)>
                        <i class="fas fa-trash"></i>
                    </button>
                </div>

            </td>
        </tr>
    </table>

    <div id="popupContainer" style="display: none;">
        <form id="editForm">
            <div class="form-group">
                <label>Student ID to edit:</label>
                <span style="align-content: center; width: fit-content" id="currentId"></span>
            </div>
            <div class="form-group">
                <label for="studentName">Name:</label>
                <input type="text" id="studentName" name="studentName" required>
            </div>
            <div class="form-group">
                <label for="studentSurname">Surname:</label>
                <input type="text" id="studentSurname" name="studentSurname" required>
            </div>
            <div class="form-group">
                <label for="studentIdentifier">Identifier:</label>
                <input type="text" id="studentIdentifier" name="studentIdentifier" required>
            </div>
            <div class="form-group">
                <label for="studentBirthDate">Birth Date:</label>
                <input type="date" id="studentBirthDate" name="studentBirthDate" required>
            </div>
            <div class="submit-form-buttons">
                <button id="submitButton" class="submit-button" onclick="sendEditedStudent()" type="button">Submit
                </button>
                <button type="button" class="cancel-submit-button" onclick="closeEditPopup()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div id="notification-container" class="notification-container"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>

    const socket = new SockJS('http://localhost:9000/websocket-endpoint');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/topic/student-update-status', function (message) {
            console.log("Received message: " + message.body)
            const notificationMessage = message.body
            studentNotification(notificationMessage, 'student-update')
        });

        stompClient.subscribe('/topic/student-removal-status', function (message) {
            console.log("Received message: " + message.body)
            const notificationMessage = message.body
            studentDeleteNotification(notificationMessage, 'student-delete')
        });
    });

    async function importStudentsListFile() {
        console.log("Importing students list file")
        try {
            const response = await fetch('/api/student/import-students-list-file', {
                method: 'GET',
            })

            if (!response.ok) {
                new Error(`HTTP error! Status: ${response.status}`);
            }

            const contentDisposition = response.headers.get('Content-Disposition');
            const fileName = contentDisposition
                ? contentDisposition.split('filename=')[1]?.replace(/"/g, '')
                : 'downloaded_file';

            const blob = await response.blob();
            const downloadLink = document.createElement('a');
            downloadLink.href = window.URL.createObjectURL(blob);
            downloadLink.download = fileName;
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
            console.log(`${fileName} downloaded successfully.`);
        } catch (error) {
            console.error('Error fetching file:', error.message);
        }
    }

    function redirectToDetails(button) {
        let studentId = button.getAttribute('data')
        window.location.href = `/school/student-details?id=` + studentId;
    }

    function redirectToEditForm(button) {
        let underscoreStudentString = button.getAttribute('data')
        console.log(underscoreStudentString)
        prefillEditFormWithCurrentData(underscoreStudentString)
        document.getElementById("popupContainer").style.display = "block";
    }

    function prefillEditFormWithCurrentData(underscoreStudentString) {
        let [id, identifier, name, surname, birthDate] = underscoreStudentString.split('_')
        document.getElementById("currentId").textContent = id
        document.getElementById("studentIdentifier").value = identifier
        document.getElementById("studentName").value = name
        document.getElementById("studentSurname").value = surname
        document.getElementById("studentBirthDate").value = birthDate
    }

    function sendEditedStudent() {
        const currentId = document.getElementById("currentId").textContent
        const studentIdentifier = document.getElementById("studentIdentifier").value;
        const studentName = document.getElementById("studentName").value;
        const studentSurname = document.getElementById("studentSurname").value;
        const studentBirthDate = document.getElementById("studentBirthDate").value;

        if (!studentName || !studentSurname || !studentIdentifier || !studentBirthDate) {
            alert("Please fill in all fields before submitting.");
            return;
        }

        const updatedStudent = {
            id: currentId,
            name: studentName,
            surname: studentSurname,
            identifier: studentIdentifier,
            birthDate: studentBirthDate,
            code: "",
            assigned: false
        };

        console.log("updatedStudent")
        console.log(updatedStudent)

        fetch('/api/student/update', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(updatedStudent),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        closeEditPopup()
        refreshPage()
    }

    function closeEditPopup() {
        document.getElementById("popupContainer").style.display = "none";
    }

    function refreshPage() {
        console.log("Attempting to refresh page..")
        setTimeout(() => location.reload(), 15000)
    }

    function removeStudent(button) {
        let studentId = button.getAttribute('data')
        console.log("ID of student to be removed: " + studentId)
        if (confirm('Are you sure you want to remove this student?')) {
            fetch('/api/student/delete?studentId=' + studentId, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    console.log('Student removed successfully');
                } else {
                    console.error('Failed to remove the student');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred');
            });
        }
    }
</script>
</html>
