<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO DO List</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <script src="/js/notification.js"></script>
    <script src="/js/go-back.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="header">
        <button class="redirect-icon go-up"
                onclick="window.location.href='http://localhost:9000/view'"
                title="Go to dashboard">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </button>
        <span class="title">TO DO</span>
        <button class="redirect-icon previous-page-icon"
                onclick="goBack()"
                title="Go back">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </h1>
    <table>
        <thead>
        <tr>
            <th>Aspect</th>
            <th>To do</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aspect : ${thingsTodo}">
            <td th:text="${aspect.key}"></td>
            <td>
                <ul>
                    <li th:each="thing : ${aspect.value}" th:text="${thing}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>