<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <script src="/js/notification.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>School management</h1>
    <div class="button-container">
        <button class="add-things-button-light-green"
                onclick="window.location.href='http://localhost:9000/view/student-entry-point'">
            Students 🧍
        </button>
        <button onclick="window.location.href='http://localhost:9000/view/classes'">
            Classes 📗
        </button>
        <button class="grade-button" onclick="window.location.href='http://localhost:9000/view/grades-entry-point'">
            Grades ✍️
        </button>
    </div>

    <h1>Configuration</h1>
    <div class="button-container">
        <button class="backup-button" onclick="window.location.href='http://localhost:9000/view/backup'">
            Backup options 🔄
        </button>
        <button class="configure-button" onclick="window.location.href='http://localhost:9000/view/configure'">
            Configure application ⚙️
        </button>
    </div>

    <h1>Information</h1>
    <div class="button-container">
        <button class="feedback-button" onclick="window.location.href='http://localhost:9000/view/feedback'">
            Give us feedback 💬
        </button>
        <button class="todo-button" onclick="window.location.href='http://localhost:9000/view/todo'">
            Work in progress 🚧
        </button>
    </div>
</div>

<div class="bottom-right-container">
    <tr>
        <th>Version:</th>
        <td th:text="${projectVersion.getVersion()}">Placeholder Version</td>
    </tr>
</div>
</body>
</html>